input {
    border-width: 0 0 1px;
    padding: 5px;    
}

input:empty {
    font-family: 'Segoe UI', 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

input:focus {
    outline: none;
    border-width: 0 0 1px;
    border-color: #ffc0cb;
}